@model IEnumerable<WebCardapioSQL.Models.Bebida>

@{
    ViewData["Title"] = "Index";
}
<html>

    <head>
        <link rel="stylesheet" type="text/css" href="../css/DesignToken.css">
    </head>

    <body class="body-bebidas">
    <h1>Cardápio de Bebidas</h1>
    <hr />
        <p>
        <a asp-action="Create">Adicionar Bebida</a>
        </p>
        <table class="table" style="justify-items:center;">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Preco)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        R$ @Html.DisplayFor(modelItem => item.Preco)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                    </td>
                </tr>
        }
            </tbody>
        </table>
    </body>
</html>